html {
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 900px) {
}

body {
    margin: 0;
    background-color: darksalmon;
    text-align: center;
}

header {
    background-color: darkmagenta;
    color: white;
    padding: 10px 10px;
}

header img {
    width: 100px;
    height: 100px;
    padding: auto;
    display: block;
    border: 2px solid black;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: cornflowerblue;
}

a {
    color: darkmagenta;
    text-decoration: none;
    transition: color 0,3s ease;
}

a:hover {
    color: cornflowerblue;
}

.container {
    width: 400px;
    margin: 0 auto;
}

section article {
    transition: box-shadow 0.3s ease;
    background-color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem black;
}

section article h2, section article p {
    margin: 1rem;
}

.mi-boton {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0.1rem 0.4rem black;
    transition: box-shadow 0.3s ease;
}

footer {
    background-color: grey;
    padding: 3rem;
    color: white;
}

footer section {
    float: right;
}

footer p {
    float: left;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}
